{% extends 'base.html.twig' %}

{% block title %}Reserveren{% endblock %}

{% block body %}

    <h1 style="text-align: center">Reserveren</h1>
    <br>
    <div class="contact-container">
    <div style="background-color: #383838; margin-bottom: 10%; height: 600px" class="example-wrapper">

        <div style="color: white; margin-right: 30%; padding-left: 1%; padding-top: 2%" class="form-group">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        {% for message in app.flashes('notice') %}
            <div class="flash-notice" style="text-align: center; margin-top: 5%; font-size: 30px">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="example-wrapper">

    </div>
{% endblock %}