{% extends 'base.html.twig' %}

{% block title %}Contact Informatie{% endblock %}

{% block body %}

    <h1 style="text-align: center">Stel uw vraag</h1>
    <br>
    <div class="contact-container">
        <div style="background-color: #383838; margin-bottom: 10%; height: 600px" class="example-wrapper">

            <div style="color: white; margin-right: 30%; padding-left: 1%; padding-top: 2%" class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button style="float: left; margin-right: 10px;" class="btn btn-success">{{ button_label|default('Verzend') }}</button>
                {{ form_end(form) }}
            </div>
        </div>

    <div class="example-wrapper">

    </div>
{% endblock %}