{% extends 'base.html.twig' %}

{% block title %}ReservatieTafel index{% endblock %}

{% block body %}
    <h1>ReservatieTafel index</h1>

    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservatie_tafel in reservatie_tafels %}
            <tr>
                <td>{{ reservatie_tafel.id }}</td>
                <td>
                    <a href="{{ path('reservatie_tafel_show', {'id': reservatie_tafel.id}) }}">show</a>
                    <a href="{{ path('reservatie_tafel_edit', {'id': reservatie_tafel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservatie_tafel_new') }}">Create new</a>
{% endblock %}
