{% extends 'base.html.twig' %}

{% block title %}New ReservatieTafel{% endblock %}

{% block body %}
    <h1>Create new ReservatieTafel</h1>

    {{ include('reservatie_tafel/_form.html.twig') }}

    <a href="{{ path('reservatie_tafel_index') }}">back to list</a>
{% endblock %}
