{% extends 'base.html.twig' %}

{% block title %}ReservatieTafel{% endblock %}

{% block body %}
    <h1>ReservatieTafel</h1>

    <table class="table" style="color: white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservatie_tafel.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservatie_tafel_index') }}">back to list</a>

    <a href="{{ path('reservatie_tafel_edit', {'id': reservatie_tafel.id}) }}">edit</a>

    {{ include('reservatie_tafel/_delete_form.html.twig') }}
{% endblock %}
